<div id="js-update-task-modal-body">
  <h3 class="pink-header">Are you sure?</h3>
  <%= form_tag(complete_task_task_list_task_path(task_list_id, task.id), :id => "complete_task", :method => "put", remote: true) do %>
    <%= submit_tag "Complete", class: "btn" %>
  <% end %>
</div>

