<div class="modal-dialog modal-small-width">
  <div class="modal-content">
    <div id="js-update-task-modal-body" class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Are you sure?</h3>
      <%= form_tag(complete_task_task_list_task_path(task_list_id, task.id), :id => "complete_task", :method => "put", remote: true) do %>
      <%= submit_tag "Complete", class: "btn btn-main-o" %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn btn-main-o" data-dismiss="modal" >Close</button>
    </div>
  </div>
</div>
