<div class="modal-dialog modal-small-width">
  <div class="modal-content">
      <div class="modal-body" id="js-task-delete-result-body">
        <h3 class="pink-header">Are you sure?</h3>
        <%= form_tag(task_list_task_path(task_list_id, task.id), :method => "delete", remote: true) do %>
        <%= submit_tag 'Yes', class: 'btn' %>
        <% end %>
      </div>
    <div class="modal-footer">
      <p>Press ESC to exit</p>
    </div>
  </div>
</div>
