
$('#js-task-create-result-body').empty();

var title = '<%= @task.title %>';
var caveat = '<p>' +  'The task will not appear until you refresh the page, be prudent when making calls to server.' + '</p>'
var html = '<p>' + ' Task added successfully ' + title + 
			' <i class="fa fa-check"><i>' + '</p>' + caveat
		   	 
			
$('#js-task-create-result-footer').show();
$('#js-task-create-result-body').append(html);
