<p>Success Event added:</p>

<h3><%= event['summary'] %></h3>
<p><a href="<%= event['htmlLink'] %>" target="_blank">View Event</a></p>
<br>
<p>You will need to refresh the main page to see this in your calendar list, but this may not necessarily be required, as you can view it using the link about.   So don't refresh unless there is an advantageous usage case for updating all your data.  Efficient computing :)</p>
