$('#js-event-delete-result-body').empty();
var id = '#' + '<%= @div_id %>'
$(id).hide();
var html = '<p>' + 'Successfully deleted boss: ' + '<i class="fa fa-bomb"><i>' +  '</p>'
$('#js-event-delete-result-body').append(html);