
<div id="delete-file-response-body">
  <h3 class="pink-header">Are you sure?</h3>
  <%= form_tag(file_path(file.id), :id => "delete_file", :method => "delete", remote: true) do %>
    <%= submit_tag "Yes", class: "btn" %>
  <% end %>
</div>
