<div class="backstretch-overlayer"></div>

<!-- home-section -->
<section id="home-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
		</div> <!-- /row -->
	</div><!-- /container -->
</section><!-- /home-section -->
<!-- white-section -->
<section id="white-section">
	<!-- hideNot-signedIn -->
	<div id="authOps" style="display:none;">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
        		<!-- col-md-12 -->
		    	<div class="col-md-12">
		    		<br>
		    		<br>
		    		<div class="col-md-3">
		    			 <div class="feature-boxs-wrapper">
		                	<div id="profile">
			                </div>
			             </div><!-- /feature-boxs-wrapper -->
	           		</div>
	           		<div class="col-md-9">
	           					<br>
								<h2>You are now signed into monea.build using Google+</h2>
								<br>
								<p>If you chooses to disconnect, the app deletes all stored information retrieved from Google.</p>
								<br>
								<a id="go-to-events" style="margin-bottom:5px;"class="btn btn-sm btn-primary">Events.soon</a>
								<a id="go-to-tasks" style="margin-bottom:5px;" class="btn btn-sm btn-primary">toDo.Tasks</a>
								<a id="go-to-files" style="margin-bottom:5px;" class="btn btn-sm btn-primary">myFiles.all</a>
								<a id="go-to-shared-files" style="margin-bottom:5px;" class="btn btn-sm btn-primary">sharedFiles.all</a>
								<a href="https://fathomless-brushlands-5645.herokuapp.com/cash_ledgers" target="_blank" style="margin-bottom:5px;" class="btn btn-sm btn-main-o">monea.Ledgers</a>
								<a href="https://fathomless-brushlands-5645.herokuapp.com/reports" style="margin-bottom:5px;" target="_blank" class="btn btn-sm btn-main-o">monea.Reports</a>
								<a href="https://fathomless-brushlands-5645.herokuapp.com/reports" style="margin-bottom:5px;" target="_blank" class="btn btn-sm btn-main-o">monea.Resources</a>
								<br>
								<br>
	           		</div>
		</div>

		<div class="row">
			        <div class="col-md-12">
	                      <!--################### Circles ############### -->
	                    	<div class="section-title">
		                        <!-- main-title -->
		                        <div class="main-title">
									<br>
									<br>
									<br>
		                            <h2>your moneaTeams </h2>
		                        </div><!-- /main-title -->
		                        <a id="team_new" class="btn btn-sm btn-primary">Team.new</a>
	                    	</div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	
		                <div id="monea-teams" class="col-md-12" >
		                </div>
		                <div id="noCircle" style="display:none;">
		                	<div class="col-md-12">
		                		<div class="feature-box-style2">
		                			<div class="feature-box-title">
		                				<i class="fa fa-support"></i>
		                			</div>
		                			<div class="feature-box-containt">
		                				<h3>No Teams!!!!</h3>
		                			</div>
		                		</div>
		                	</div>
		                </div>
	                </div>

	    </div>
	    <br>
	    <br>
	    <div class="row">
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2><a class="" data-toggle="modal" data-target="#modal-window" data-remote=true href="/peoples">Networks ( people ) <i class="fa fa-share"></i></a>  </h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->
	               
	    </div>           <!--####################################### Friends ###################### -->
	    <br>
	    <br>
	    <div class="row">
			    	 <div class="col-md-12">
			    	 	 <div class="section-title">
			    	 	 <div class="main-title">
			    	 	 	<h2> Business ( Food )</h2>
	                        <br>
			    	 	 </div>
			    	 	</div>
			    	 </div>
	                <div class="col-md-6">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h4>BBC</h4>
	                            <br>
                            	<div id="bbc-feed">
								</div>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-6 -->
			        <div class="col-md-6">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h4>Reuters</h4>
	                            <br>
	                            <div id="more-feed">
	                            </div>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-6 -->
		</div>
		<br>
		<br>
	    <div class="row">
	  		<!--####################################### Task Lists ###################### -->
	                <!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Task Lists</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="taskLists" style="display:none;">
		                </div>
		                <div id="noTaskLists" style="display:none;">
		                	<div class="col-md-12">
		                		<div class="feature-box-style2">
		                			<div class="feature-box-title">
		                				<i class="fa fa-tasks"></i>
		                			</div>
		                			<div class="feature-box-containt">
		                				<h3>No Task Lists or REFRESH connection on dropdown</h3>
		                			</div>
		                		</div>
		                	</div>
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Task Lists ###################### -->
	    </div>
	    <br>
	    <br>
		<div class="row">        
	                <!--####################################### Tasks ###################### -->
					<!-- col-md-12 -->
			        <div class="col-md-12" id="tasks-anchor">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Tasks</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                    <!-- col-md-6 -->
	                    <div class="col-md-6" id="completedTasks" style="display:none;">
	                        <!-- feature-box-style2 -->
	                        <div class="feature-box-style2">
	                            <!-- feature-box-title -->
	                            <div class="feature-box-title">
	                                <!-- icon -->
	                                <i class="fa fa-check"></i>
	                            </div><!-- /feature-box-title -->
	                            <!-- feature-box-containt -->
	                            <div class="feature-box-containt">
	                                <h3>Completed Tasks</h3>
	                                <div id="tasksCompleted"></div>
	                            </div><!-- /feature-box-containt -->
	                        </div><!-- /feature-box-style2 -->
	                    </div><!-- /col-md-6 -->
	                    <!-- col-md-6 -->
	                    <div class="col-md-6" id="pendingTasks" style="display:none;">
	                        <!-- feature-box-style2 -->
	                        <div class="feature-box-style2">
	                            <!-- feature-box-title -->
	                            <div class="feature-box-title">
	                                <!-- icon -->
	                                <i class="fa fa-cog"></i>
	                            </div><!-- /feature-box-title -->
	                            <!-- feature-box-containt -->
	                            <div class="feature-box-containt">
	                                <h3>Pending Tasks</h3>
	                                <div id="tasksPending"></div>
	                            </div><!-- /feature-box-containt -->
	                        </div><!-- /feature-box-style2 -->
	                    </div><!-- /col-md-6 -->
	                    <div class="col-md-12" id="noTasks" style="display:none;">
	                    	<!-- feature-box-style2 -->
	                        <div class="feature-box-style2">
	                            <!-- feature-box-title -->
	                            <div class="feature-box-title">
	                                <!-- icon -->
	                                <i class="fa fa-tasks"></i>
	                            </div><!-- /feature-box-title -->
	                            <!-- feature-box-containt -->
	                            <div class="feature-box-containt">
	                                <h3>No Tasks or REFRESH connection on dropdown</h3>
	                            </div><!-- /feature-box-containt -->
	                        </div><!-- /feature-box-style2 -->
	                    </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Tasks ###################### -->

	                <!--####################################### Calendar Events ###################### -->
	                <!-- col-md-12 -->
			        <div class="col-md-12" id ="events-anchor">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Calendar Events</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="calendarEvent" style="display:none;">
		                </div>
		                <div id="noCalendarEvent" style="display:none;">
		                	<div class="col-md-12">
		                		<div class="feature-box-style2">
		                			<div class="feature-box-title">
		                				<i class="fa fa-calendar"></i>
		                			</div>
		                			<div class="feature-box-containt">
		                				<h3>No Calendar Events or REFRESH connection on dropdown</h3>
		                			</div>
		                		</div>
		                	</div>
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Calendar Events ###################### -->

	                <!--####################################### Drive Files ###################### -->
					<!-- col-md-12 -->
			        <div class="col-md-12" id="files-anchor" >
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>yourDrive Files</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="driveFiles" style="display:none;">
		                </div>
		                <div id="noDriveFiles" style="display:none;">
		                	<div class="col-md-12">
		                		<div class="feature-box-style2">
		                			<div class="feature-box-title">
		                				<i class="fa fa-file"></i>
		                			</div>
		                			<div class="feature-box-containt">
		                				<h3>No Drive Files!!!!</h3>
		                			</div>
		                		</div>
		                	</div>
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Drive Files ###################### -->

	                <!-- col-md-12 -->
			        <div class="col-md-12" id="shared-files-anchor" >
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>teamFiles</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="shared-driveFiles" style="display:none;">
		                </div>
		                <div id="noDriveFiles" style="display:none;">
		                	<div class="col-md-12">
		                		<div class="feature-box-style2">
		                			<div class="feature-box-title">
		                				<i class="fa fa-file"></i>
		                			</div>
		                			<div class="feature-box-containt">
		                				<h3>No Drive or REFRESH connection on dropdown</h3>
		                			</div>
		                		</div>
		                	</div>
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Drive Files ###################### -->

					<div id="state" class="hide"><%= @state %></div>
					<!-- <div class="g-hangout" data-render="createhangout"></div> -->

			</div><!-- /row -->
		</div> <!-- /container -->
	</div> <!-- /authOps -->
</section><!-- /white-section -->

<%= render "modals" %>

<script type="text/javascript">
    $('#home-section').backstretch([
                "/assets/slider/1-1920x1080.jpg"
    ], {
        fade: 750,
        duration: 25000
    });
</script>
