<script type="text/javascript" src="/assets/signin.js"></script>
<div class="backstretch-overlayer"></div>

<!-- home-section -->
<section id="home-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
		</div> <!-- /row -->
	</div><!-- /container -->
</section><!-- /home-section -->
<!-- white-section -->
<section id="white-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
        	<!-- col-md-12 -->
		    <div class="col-md-12">
		    	<div id="authOps" style="display:none;">
					<h2>You are now signed into monea.build using Google+</h2>
					<p>If you chooses to disconnect, the app deletes all stored information retrieved from Google.</p>
					<a href="javascript:void(0)" title="Sign Out" class="btn btn-sm btn-main-o" id="disconnect">Sign Out</a>

					<!--####################################### Profile Information ###################### -->
					<!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>yourProfile monea.build </h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="profile">
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Profile Information ###################### -->

	                <!--####################################### Friends ###################### -->
	                <!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2><a class="" data-toggle="modal" data-target="#modal-window" data-remote=true href="/peoples">Networks</a></h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="visiblePeople">
		                </div>
	                </div>
	                <!-- /feature-boxs-wrapper -->
	                <!--####################################### /Friends ###################### -->

	                <!--####################################### Circles ###################### -->
	                <!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Teams(circles)</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="circle" style="display:none;">
		                </div>
		                <div id="noCircle" style="display:none;">
		                	<div class="col-md-12">
		                		<div class="feature-box-style2">
		                			<div class="feature-box-title">
		                				<i class="fa fa-support"></i>
		                			</div>
		                			<div class="feature-box-containt">
		                				<h3>No Teams!!!!</h3>
		                			</div>
		                		</div>
		                	</div>
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Circles ###################### -->

	                <!--####################################### Task Lists ###################### -->
	                <!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Task Lists</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="taskLists" style="display:none;">
		                </div>
		                <div id="noTaskLists" style="display:none;">
		                	<div class="col-md-12">
		                		<div class="feature-box-style2">
		                			<div class="feature-box-title">
		                				<i class="fa fa-tasks"></i>
		                			</div>
		                			<div class="feature-box-containt">
		                				<h3>No Task Lists!!!!</h3>
		                			</div>
		                		</div>
		                	</div>
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Task Lists ###################### -->

	                <!--####################################### Tasks ###################### -->
					<!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Tasks</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                    <!-- col-md-6 -->
	                    <div class="col-md-6" id="completedTasks" style="display:none;">
	                        <!-- feature-box-style2 -->
	                        <div class="feature-box-style2">
	                            <!-- feature-box-title -->
	                            <div class="feature-box-title">
	                                <!-- icon -->
	                                <i class="fa fa-tasks"></i>
	                            </div><!-- /feature-box-title -->
	                            <!-- feature-box-containt -->
	                            <div class="feature-box-containt">
	                                <h3>Completed Tasks</h3>
	                                <div id="tasksCompleted"></div>
	                            </div><!-- /feature-box-containt -->
	                        </div><!-- /feature-box-style2 -->
	                    </div><!-- /col-md-6 -->
	                    <!-- col-md-6 -->
	                    <div class="col-md-6" id="pendingTasks" style="display:none;">
	                        <!-- feature-box-style2 -->
	                        <div class="feature-box-style2">
	                            <!-- feature-box-title -->
	                            <div class="feature-box-title">
	                                <!-- icon -->
	                                <i class="fa fa-tasks"></i>
	                            </div><!-- /feature-box-title -->
	                            <!-- feature-box-containt -->
	                            <div class="feature-box-containt">
	                                <h3>Pending Tasks</h3>
	                                <div id="tasksPending"></div>
	                            </div><!-- /feature-box-containt -->
	                        </div><!-- /feature-box-style2 -->
	                    </div><!-- /col-md-6 -->
	                    <div class="col-md-12" id="noTasks" style="display:none;">
	                    	<!-- feature-box-style2 -->
	                        <div class="feature-box-style2">
	                            <!-- feature-box-title -->
	                            <div class="feature-box-title">
	                                <!-- icon -->
	                                <i class="fa fa-tasks"></i>
	                            </div><!-- /feature-box-title -->
	                            <!-- feature-box-containt -->
	                            <div class="feature-box-containt">
	                                <h3>No Tasks!!!!</h3>
	                            </div><!-- /feature-box-containt -->
	                        </div><!-- /feature-box-style2 -->
	                    </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Tasks ###################### -->

	                <!--####################################### Calendar Events ###################### -->
	                <!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Calendar Events</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="calendarEvent" style="display:none;">
		                </div>
		                <div id="noCalendarEvent" style="display:none;">
		                	<div class="col-md-12">
		                		<div class="feature-box-style2">
		                			<div class="feature-box-title">
		                				<i class="fa fa-calendar"></i>
		                			</div>
		                			<div class="feature-box-containt">
		                				<h3>No Calendar Events!!!!</h3>
		                			</div>
		                		</div>
		                	</div>
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Calendar Events ###################### -->

	                <!--####################################### Drive Files ###################### -->
					<!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Drive Files</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="driveFiles" style="display:none;">
		                </div>
		                <div id="noDriveFiles" style="display:none;">
		                	<div class="col-md-12">
		                		<div class="feature-box-style2">
		                			<div class="feature-box-title">
		                				<i class="fa fa-file"></i>
		                			</div>
		                			<div class="feature-box-containt">
		                				<h3>No Drive Files!!!!</h3>
		                			</div>
		                		</div>
		                	</div>
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Drive Files ###################### -->

	                <!--####################################### Activity Feeds ###################### -->
					<!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Activity Feeds</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="activityFeeds" style="display:none;">
		                </div>
		                <div id="noActivityFeeds" style="display:none;">
		                	<div class="col-md-12">
		                		<div class="feature-box-style2">
		                			<div class="feature-box-title">
		                				<i class="fa fa-file"></i>
		                			</div>
		                			<div class="feature-box-containt">
		                				<h3>No Activity Feeds!!!!</h3>
		                			</div>
		                		</div>
		                	</div>
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Activity Feeds ###################### -->

					<div id="state" class="hide"><%= @state %></div>

					<!-- <div class="g-hangout" data-render="createhangout"></div> -->

					<%= render "modals" %>
				</div>
			</div><!-- /col-md-12 -->
		</div> <!-- /row -->
	</div><!-- /container -->
</section><!-- /white-section -->

<script type="text/javascript">
    $('#home-section').backstretch([
                "/assets/slider/1-1920x1080.jpg"
    ], {
        fade: 750,
        duration: 25000
    });
</script>
