<div class="modal-dialog modal-medium-width">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="pink-header">Circle Details</h3>
    </div>
    <div class="modal-body">
      <%= form_tag(circle_path(circle.id), :id => "update_circle", class: "contactForm", :method => "put") do %>
        <div class="form-group">
          <label for="name">Name:</label>
          <div class="controls">
            <%= text_field_tag "circle[display_name]", circle.display_name, class: "white-pink", placeholder: "Name", id: "name" %>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <div class="controls">
            <%= text_area_tag "circle[description]", circle.description, class: "white-pink", placeholder: "Description", id: "description", rows: "10" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn" id="update_button">Update</button>
      <p>Press ESC to exit</p>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#update_button').click(function(){
    $('#update_circle').submit();
  });
</script>