 <h3 class="pink-header">Are you sure?</h3>
  <%= form_tag(circle_path(circle.id), :id => "delete_circle", :method => "delete") do %>
  <% end %>
  <button class="btn" id="delete_button">OK</button>
  <script type="text/javascript">
    $('#delete_button').click(function(){
      $('#delete_circle').submit();
    });
  </script>


