
$("#modal-body-circle-add-wallpin").html('<p>' + "Success, wallpin added." + '</p>');

pin = {

	summary: '<%= @pin.summary %>',
	link: '<%= @pin.file_link %>',
	added_by: '<%= @pin.added_by %>',
	id: '<%= @pin.id %>'
}

$("#team-pins-container").prepend(uiHelper.teamPinsHtml(pin));

 Webflow.require("slider").redraw();
