
<!-- footer -->
<div class="footer">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="topcontrol">
                <a href="#" title="To Top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->

    <!-- copy-right -->
    <div class="copyright">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-9">
                     <p>Copyright &copy; <%= Time.now.year %> <a href="javascript:void(0)">monea.build :: monea-finance </a> All rights reserved!</p>
                </div>
                <div class="col-md-3">
                    <!-- social-icons -->
                    <ul class="social-icons">
                        <li><a href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="javascript:void(0)" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="javascript:void(0)" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    </ul><!-- /social-icons -->
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /copy-right -->
</div><!-- /footer -->
