<!-- gn-menu-main -->
<ul id="gn-menu" class="gn-menu-main">
    <!-- gn-trigger -->
    <li class="gn-trigger">
		<!-- gn-icon-menu -->
        <a class="gn-icon-menu" href="javascript:void(0)"><i class="fa fa-bars"></i> Menu</a>
		<!-- gn-menu-wrapper -->
        <nav class="gn-menu-wrapper">
			<!-- gn-scroller -->
            <div class="gn-scroller">
				<!-- gn-menu -->
                <ul class="gn-menu">
                    <li><a class="gn-active" href="#home" title="Home"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#quick-add-event" title="Quick Add Event" id="quick_add_event"><i class="fa fa-calendar"></i> Quick Add Event</a></li>
                    <li><a href="#add-event" title="Add Event" id="add_event"><i class="fa fa-calendar"></i> Add Event</a></li>
                    <li><a href="#create-circle" title="Create Circle" id="create_circle"><i class="fa fa-support"></i> Create Circle</a></li>
                    <li><a href="#create-spreadsheet" title="Create Spreadsheet" id="create_spreadsheet"><i class="fa fa-file"></i> Create Spreadsheet</a></li>
                    <li><a href="#create-document" title="Create Document" id="create_document"><i class="fa fa-file"></i> Create Document</a></li>
                    <li><a href="#create-tasklist" title="Create Task List" id="create_tasklist"><i class="fa fa-tasks"></i> Create Task List</a></li>
                </ul><!-- /gn-menu -->
            </div><!-- /gn-scroller -->
		</nav><!-- /gn-menu-wrapper -->
    </li><!-- /gn-trigger -->
    <!-- #menu-social-icons -->
    <li id="menu-social-icons">
        <!-- menu-social-icons -->
        <ul class="menu-social-icons">
           	<!-- search -->
           	<li>
				<div class="col-xs-12" id="search-form">
					<input class="form-control" type="search" id="search_p" placeholder="Search" />
					<span class="glyphicon glyphicon-search" id="search-glyphicon"></span>
				</div>
			</li>
            <li>
                <div class="btn-group" id="discover-menu">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    DISCOVER ELLIOTTE <i class="fa fa-th-large"></i> <span class="caret" id="discover-menu-caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" id="discover-dropdown-ul">
                    <li class="discover-dropdown-li"><a href="https://mail.google.com/mail/" target="_blank"><i class="fa fa-envelope"></i> Gmail</a></li>
                    <li class="discover-dropdown-li"><a href="https://www.google.com/calendar/" target="_blank"><i class="fa fa-calendar"></i> Calendar</a></li>
                  </ul>
                </div>
            </li>
            <li>
            	<div id="gConnect">
					<button class="g-signin"
	    				data-scope="<%= ENV['PLUS_LOGIN_SCOPE'] %>"
	    				data-requestvisibleactions="http://schemas.google.com/AddActivity"
					    data-clientId="<%= ENV['CLIENT_ID'] %>"
					    data-accesstype="offline"
					    data-callback="onSignInCallback"
					    data-theme="dark"
					    data-cookiepolicy="single_host_origin">
					</button>
				</div>
                <div id="share-button">
                    <div class="g-plus" data-action="share" data-height="24"></div>
                </div>
            </li>
        </ul><!-- /menu-social-icons -->
    </li><!-- /#menu-social-icons -->
</ul><!-- /gn-menu-main -->