<!-- gn-menu-main -->
<ul id="gn-menu" class="gn-menu-main">
    <!-- gn-trigger -->
    <li class="gn-trigger">
		<!-- gn-icon-menu -->
        <a class="gn-icon-menu" href="javascript:void(0)"><i class="fa fa-bars"></i></a>
		<!-- gn-menu-wrapper -->
        <nav class="gn-menu-wrapper">
			<!-- gn-scroller -->
            <div class="gn-scroller">
				<!-- gn-menu -->
                <ul class="gn-menu">
                    <li><a class="gn-active" href="#go-home" id ="go-home" title="Home"><i class="fa fa-home"></i>monea.build</a></li>
                    <li><a href="https://mail.google.com/mail/u/0/?view=cm&ui=2&tf=0&fs=1" target="_blank"><i class="fa fa-envelope"></i>Email.new</a></li>
                    <li><a href="#quick-add-event" title="Quick Add Event" id="quick_add_event"><i class="fa fa-calendar-o"></i>Quick.new</a></li>
                    <li><a title="ToDo" id="add-to-do"><i class="fa fa-check"></i>ToDo.new</a></li>
                    <li><a href="#add-event" title="Add Event" id="add_event"><i class="fa fa-calendar"></i>Diary.new</a></li>
                    <li><a id="new_doc"><i class="fa fa-file-text"></i>Doc.new</a></li>
                    <li><a id="new_ss"><i class="fa fa-bar-chart-o"></i>SS.new</a></li>
                    <li><a href="#create-document" title="Create Document" id="create_document"><i class="fa fa-cloud-upload"></i>Doc.import</a></li>
                      <li><a href="#create-spreadsheet" title="Create Spreadsheet" id="create_spreadsheet"><i class="fa fa-file-excel-o"></i>SS.import</a></li>
                    <li><a href="#create-tasklist" title="Create Task List" id="create_tasklist"><i class="fa fa-tasks"></i>taskList.new</a></li>
                    <li><a href="#create-circle" title="Create Circle" id="create_circle"><i class="fa fa-support"></i>Team.new(circle)</a></li>
                </ul><!-- /gn-menu -->
            </div><!-- /gn-scroller -->
		</nav><!-- /gn-menu-wrapper -->
    </li><!-- /gn-trigger -->
    <!-- #menu-social-icons -->
    <li id="menu-social-icons">
        <!-- menu-social-icons -->
        <ul class="menu-social-icons">
           	<!-- search -->
           	<li>
				<div class="col-xs-12" id="search-form">
					<input class="form-control" type="search" id="search_p" placeholder="Search" />
					<span class="glyphicon glyphicon-search" id="search-glyphicon"></span>
				</div>
			</li>
            <li>
                <div class="btn-group" id="discover-menu">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    MONEA.BUILD <i class="fa fa-th-large"></i> <span class="caret" id="discover-menu-caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" id="discover-dropdown-ul">
                    <li class="discover-dropdown-li"><a href="https://fathomless-brushlands-5645.herokuapp.com/" target="_blank"><i class="fa fa-usd"></i> m.Finance</a></li>
                     <li class="discover-dropdown-li"><a href="https://mail.google.com/mail/" target="_blank"><i class="fa fa-envelope"></i> Gmail</a></li>
                    <li class="discover-dropdown-li"><a href="https://www.google.com/calendar/" target="_blank"><i class="fa fa-calendar"></i> Calendar</a></li>
                     <li class="discover-dropdown-li"><a href="https://drive.google.com/" target="_blank"><i class="fa fa-folder"></i> Drive</a></li>
                     <li class="discover-dropdown-li"><a href="<%= refresh_connection_signin_index_path %>" ><i class="fa fa-exchange"></i> Refresh</a></li>
                     <li class="discover-dropdown-li"><a href="javascript:void(0)" title="Sign Out" id="disconnect"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                  </ul>
                </div>
            </li>
            <li>
            	<div id="gConnect">
        					<button class="g-signin"
        	    				data-scope="<%= ENV['PLUS_LOGIN_SCOPE'] %>"
        	    				data-requestvisibleactions="http://schemas.google.com/AddActivity"
        					    data-clientId="<%= ENV['CLIENT_ID'] %>"
        					    data-accesstype="offline"
        					    data-callback="onSignInCallback"
        					    data-theme="dark"
        					    data-cookiepolicy="single_host_origin">
        					</button>
				      </div>
               <div id="loader-wheel" style="display:none;">
                    <span class="tcon-loader--spinner360" aria-label="loading">
                        <span class="tcon-visuallyhidden">loading</span>
                    </span>
               </div>
              <div id="share-button">
                    <div class="g-plus" data-action="share" data-href="https://www.monea.build" data-height="24"></div>
              </div>
            </li>
        </ul><!-- /menu-social-icons -->
    </li><!-- /#menu-social-icons -->
</ul><!-- /gn-menu-main -->