   <!-- mobile navBar -->
   <div class="w-nav w-hidden-main w-hidden-medium mobile-navbar" data-collapse="small" data-animation="over-right" data-duration="300" data-contain="1" data-easing="ease-in-out-sine" data-easing2="ease-in-out-sine">
      <!-- navDrownDown -->
      <nav class="w-container mobile-navbar-container">
        <a class="w-nav-brand brand" href="index.html">
          <img class="mobile-logo" src="<%= asset_path('mobile logo.svg') %>" width="64" alt="54bcd9f13547bc7d5fbb298a_mobile%20logo.svg">
        </a>
        <nav class="w-nav-menu mobile-nav-menu" role="navigation">
          <img class="mobile-close-button" src="<%= asset_path('mobile logo.svg') %>" width="22" alt="548c3f65e84cbe797dc33e5a_mobile%20close%20button.png">
          <!-- navDrownDown links -->
          <div class="mobile-slide-menu-container">
            <a class="w-nav-link mobile-nav-link" href="#tasks-anchor">Tasks</a>
            <a class="w-nav-link mobile-nav-link" href="concepts.html">Diary</a>
            <a class="w-nav-link mobile-nav-link" href="about.html">Files</a>
            <a class="w-nav-link mobile-nav-link" href="contact.html">monea.build</a>
          </div>
        </nav>
        <div class="w-nav-button mobile-menu-button">
          <img class="hamburger" src="<%= asset_path('hamburger.svg') %>" width="23" alt="548f1dbcc9dd0f7c3a0ce2a9_hamburger.svg">
        </div>
      </nav>
  </div> <!-- end of mobile nav -->