<a class="w-nav-link navbar-link" href="#">New</a>
<a class="w-nav-brand logo" href="/" data-no-turbolink='true' data-ix="logo-hover">
<img class="logo-black" src="<%= asset_path('contemplate black.svg') %>" alt="error">
<img class="logo-pink" src="<%= asset_path('contemplate pink.svg') %>" alt="error">
</a>
<a class="w-nav-link navbar-link" href="#">Why</a>
