<a class="w-nav-link navbar-link" href="#tasks-anchor">Tasks</a>
<a class="w-nav-link navbar-link" href="#">Diary</a>
<a class="w-nav-brand logo" href="/" data-ix="logo-hover">
  <img class="logo-black" src="<%= asset_path('contemplate black.svg') %>" alt="error">
  <img class="logo-pink" src="<%= asset_path('contemplate pink.svg') %>" alt="error">
</a>
<a class="w-nav-link navbar-link" href="#">Files</a>
<a class="w-nav-link navbar-link w--current" href="#" data-ix="open-contact">monea.build</a>